.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 90px;
}

.label {
  display: flex;

  justify-content: space-between;
}

.input {
  margin-left: 15px;
  border-radius: 4px;
}

.button {
  width: 100px;
  border-radius: 4px;
  background-color: rgb(153, 0, 255);
  color: aliceblue;
}
